* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



body {
    background-color: aliceblue;
    height: 120vh;
    display: grid;
    place-items: center;
}

.formulario {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.form {
    padding: 40px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 450px;
    background-color: white;
}


.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 24px;
}

h2 {
    color: #999999;
    font-size: 45px;
}

label {
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
select {
    padding: 17px 25px;
    margin-bottom: 20px;
    background-color: #E6E6E6;
    border: 3px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder {
    color: #696969;
}


.text {
    text-align: left;
}



.button {
    margin-top: 25px;
    background-color: #006D38;
    color: white;
    border-radius: 14px;
    padding: 17px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #283629;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.button:hover {
    background-color: #007900;
}

.alertas {
    font-family: 'popins', sans-serif;
}

.modal {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    right: 0px;

}

.modal.active {
    display: flex;
}

.alerta {
    background-color: #D2991B;
}

.exito {
    background: #3CB662;
}

.error {
    background: #D22E2E;
}

.modal-content {
    color: white;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0. 0.75em 1em #0b0c0e4d;
}

.closeicon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeicon2 {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeicon3 {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.icon {
    font-size: 80px;
    color: rgba(0, 0, 0, 0.4);
}

.right-items {
    margin-left: 30px;
}

.titulo-alert {
    position: relative;
    bottom: 20px;
    padding-top: 10px;
    font-size: 18px;
}

.texto-alert {
    font-size: 15px;
}

.okbtn {
    padding: 8px 15px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.okbtn2 {
    padding: 8px 15px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.okbtn3 {
    padding: 8px 15px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}


table {

    background-color: white;
    width: 70%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 50px;


}

th,
td {
    border: solid 1px black;
    padding: 20px;
}

thead {
    background-color: #0bac51;
    border-bottom: solid 3px #075507;
    color: white;

}

#recipiente {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
    display: none;

}

.contenedor {
    border: solid gray 3px;
    width: 620px;
    height: 250px;
    background: white;
    margin-bottom: 50px;

}

.cuerpo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;


}

.cn {
    padding: 8px;
    display: flex;

}

.titulo {
    font-weight: bolder;
}



.botones {
 
   margin-left: 270px;
}

.btn-editar {
    color: white;
    background: #3CB662;
    border: none;
    font-size: 15px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-editar:hover {
    background: #3CB662;
    opacity: 0.9;
}

.btn-borrar {
    color: white;
    background: #D10011;
    border: none;
    margin-left: 20px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-borrar:hover {
    background: #D10011;
    opacity: 0.9;
}

@media(max-width: 1700px) {
    .contenedor2 {
        display: none;
    }

    #recipiente.active {
        display: grid;
        margin-top: 40px;

    }

    #recipiente {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

}

@media(max-width: 1276px) {
    .contenedor {

        width: 430px;
        height: 360px;
    }

    .cuerpo {
        grid-template-columns: repeat(1, 1fr);
    }

    .botones {
        margin-left: 200px;
    }
}

@media(max-width: 890px) {

    #recipiente {

        gap: 10px;
    }

    .contenedor {
        width: 375px;
        height: 410px;
    }



    .botones {
        margin-left: 210px;
    }

}


@media(max-width: 775px) {

    .form {
        width: 390px;
    }

    #recipiente {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }



}

@media(max-width:400px) {



    h2{
        font-size: 38px;
    }

    .form {
        width: 370px;
    }

    .contenedor {
        width: 370px;
        height: 420px;
    }

    .cuerpo {
        grid-template-columns: repeat(1, 1fr);
  
    }

    .botones {

        margin-left: 200px;

    }

}
